$--color-primary: #10c599;
$--color-success: #3c9;
$--color-warning: #f90;
$--color-danger: #f66;
$--color-info: #959595;
$--color-text-placeholder: #c0c4cc;
$--color-primary-light: mix(#fff, $--color-primary, 20%);
$--color-primary-dark: mix(#000, $--color-primary, 20%);